// variables
$red: #C1432E;
$green-dk: #7A9D96;
$green-lt: #B8DBCF;
$blue: #00303F;
$yellow: #DCAE1D;
$fsans: 'Montserrat', sans-serif;
$fserif: 'Abril Fatface', cursive;
$fsize-lt: 300;
$fsize-xlt: 200;
$fsize-thin: 100;

// mixins

@mixin landing-menu-text {
  font-family: $fserif;
  color: $red;
  font-size: 30px;
  text-shadow: -1px 1px 0px $blue;
}

// styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fsans;
  list-style: none;
}

html, body {
  width: 100%;
  font-size: 13px;
}

.container {
  width: 325px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 173px 250px 60px 500px 200px 60px;
}

.landing-header {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 175px;
  background-color: $red;
  justify-content: space-between;
  align-items: center;
  img {
    width: 255px;
  }
  p {
    text-transform: uppercase;
    color: $green-lt;
    font-size: 14px;
    font-weight: $fsize-xlt;
    letter-spacing: 1.8px;
  }
}

.landing-menu {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 125px 125px;
    background-color: $yellow;
  }
  li {
    text-align: center;
    line-height: 200px;
    @include landing-menu-text;
  }
  .top-1 {
    background-image: url("../assets/img/entrance-land.png");
    background-position: center;
  }
  .top-2 {
    background-image: url("../assets/img/communal_space-land.png");
    background-position: center;
  }
  .bottom {
    background-image: url("../assets/img/meeting-land.png");
    background-position: center;
    grid-column: 1 / 3;
  }
}
