// media queries

@media screen and (min-width: 600px) {
  .container {
    width: 100%;
    display: grid;
    grid-template-rows: 13fr max-content 6fr max-content 40fr 6fr;
  }
  ul.landing-menu {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .landing-header {
    height: auto;
  }
  .testimonial {
    grid-template-rows: 1rem 15fr 1rem 2fr 1fr auto;
    grid-template-columns: 1rem 1fr 1rem;
    :nth-child(1) {
      height: 50vw;
    }
  }
  ul.landing-menu {
    .top-1 {
      background-image: url("../assets/img/entrance-700.png");
      background-size: 105%;
    }
    .top-2 {
      background-image: url("../assets/img/communal_space-700.png");
      background-size: 115%;
    }
    .bottom {
      background-image: url("../assets/img/meeting-700.png");
      background-size: 105%;
    }
  }
}

@media screen and (min-width: 1200px) {
  ul.landing-menu {
    .top-1 {
      background-image: url("../assets/img/entrance.png");
    }
    .top-2 {
      background-image: url("../assets/img/communal_space.png");
    }
    .bottom {
      background-image: url("../assets/img/meeting.png");
    }
  }
}
