// styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fsans;
  list-style: none;
}

html, body {
  font-size: 100%;
}

.container {
  width: 325px;
  display: grid;
  grid-template-rows: 170px 250px 60px 450px 200px 60px;
}

.landing-header {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 175px;
  background-color: $red;
  justify-content: space-between;
  align-items: center;
  img {
    width: 255px;
  }
  p {
    @include light-caps-on-red;
  }
}

ul.landing-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 125px 125px;
  background-color: $yellow;
  p {
    text-align: center;
    line-height: 200px;
    @include landing-menu-text;
    cursor: pointer;
    :hover {
      text-decoration: underline;
    }
  }
  .top-1 {
    background-image: url("../assets/img/entrance-land.png");
    background-position: center;
    background-size: cover;
  }
  .top-2 {
    background-image: url("../assets/img/communal_space-land.png");
    background-position: center;
    background-size: cover;
  }
  .bottom {
    background-image: url("../assets/img/meeting-land.png");
    background-position: center;
    background-size: cover;
    grid-column: 1 / 3;
  }
}

.divider-bar {
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    @include divider-bar-text
  }
}

.body-text {
  background-color: $green-lt;
  padding: 0.8rem;
  p {
    @include body-text-lt-bg
  }
}

.testimonial {
  display: grid;
  grid-template-rows: 1rem 100px 1rem 2fr 1fr auto;
  grid-template-columns: 1rem 1fr 1rem;
  background-color: $red;
  :nth-child(1) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    height: 100px;
    justify-self: center;
  }
  :nth-child(2) {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    @include quote-text-on-red;
    text-align: justify;
  }
  :nth-child(3) {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    @include attribution-text-on-red;
    justify-self: right;
  }
}

.landing-footer {
  background-color: $blue;
  padding: 0.5rem 0;
  p {
    @include light-caps-on-blue
    text-align: center;
    line-height: 1.5em;
  }
}
