// variables

$red: #C1432E;
$green-dk: #7A9D96;
$green-lt: #B8DBCF;
$blue: #00303F;
$yellow: #DCAE1D;
$fsans: 'Montserrat', sans-serif;
$fserif: 'Abril Fatface', cursive;
$fweight-lt: 300;
$fweight-xlt: 200;
$fweight-thin: 100;
